/* body{
    margin: 0px;
    background: url(../image/big_bgimg_dark.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-filter: blur(9px);
} */
body, main::before{
    background: url("../image/big_bgimg_dark.jpg") 0 / cover fixed;
}
#up_bar{
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 750rpx;
    background-color: rgb(79, 189, 189);
}
#up_blank_bar{
    position: relative;
    left: 0px;
    top: 0px;
    height: 10px;
    width: 750rpx;
    background-image: linear-gradient(to bottom, rgb(79, 189, 189) ,rgb(66, 102, 134));
}
#welcome_sign{
    position: absolute;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* left: 100px; */
    left: 40%;
    top: 0px;
    height: 100px;
}
#mid_content{
    position: relative;
    height: 865px;
    /* background-color: white; */
}
#right_bar{
    position:absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    background-color: rgb(66, 102, 134);
}
.right_icon_div{
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 100;
}
.right_icon{
    position: relative;
    margin: 10px;
    height: 80px;
    width: 80px;
    z-index: 100;
}
/*背景模糊*/
.content {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
}
.content:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}
.drag{
    position: absolute;
    /* left:50%;
    top:50%; */
    transform: translate(-50%,-50%);
    width:200px;
    height:200px;
    text-align: center;

    z-index:11;
}
